@use 'sass:math';

#home-list-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  color: $text-color;

  .btn-open-list {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
    z-index: 15;

    span {
      font-size: 32px;
    }
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: $bg-color;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(0px at 100% 100%);
    -webkit-clip-path: circle(0px at 100% 100%);
    transition: all 0.5s ease-out;
    z-index: 11;

    a.close-btn {
      position: absolute;
      right: 5%;
      top: 5%;
      font-size: 150%;
    }
    
    a {
      color: $text-color;
      
      b {
        font-weight: 700;
        font-size: 130%;
      }
    }
  }

  .list.open {
    background-color: $text-color;
    clip-path: circle(2500px at 100% 100%);
    -webkit-clip-path: circle(2500px at 100% 100%);

    a {
      color: $bg-color;
    }
  }

  @media only screen and (max-width: 768px) {
    .list {
      clip-path: circle(0px at 50% 0%);
      -webkit-clip-path: circle(0px at 50% 0%);
    }

    .list.open {
      clip-path: circle(1000px at 50% 0%);
      -webkit-clip-path: circle(1000px at 50% 0%);
    }

    .btn-open-list {
      right: 50%;
      top: 10%;
      bottom: unset;
      transform: translateX(50%);

      img {
        width: 24px;
      }

      span {
        font-size: 24px;
      }
    }
  }
}