.intro-section {
  width: 100%;
  margin-top: 50px;
  z-index: 1;

  .title-wrap {
    display: none;
    width: 100%;

    h2 {
      overflow: hidden;
      text-align: center;
    }
    
    h2:before,
    h2:after {
      background-color: $text-color;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 20%;
    }
    
    h2:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    h2:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  p.title {
    font-size: 200%;
    margin-bottom: 50px;

    span.name {
      font-size: 120%;
      font-weight: 700;
    }
  }

  .intro-text {
    padding: 5% 10%;
    background-color: #1e1f22;
    border-radius: 10px;
    position: relative;
    text-align: left;
    z-index: 2;

    .life-tag {
      border-radius: 100%;
      background-color: $bg-color;
      border-left: $text-color 4px solid;
      position: absolute;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 30px;
      left: -51px;

      p {
        color: $text-color;
        font-weight: 700;
        font-size: 110%;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    p.title {
      font-size: 170%;
      margin-bottom: 30px;
    }

    .title-wrap {
      display: block;
      margin-bottom: 20px;
      font-size: 70%;
    }

    .intro-text {
      padding: 5% 20px;

      .life-tag {
        display: none;
      }
    }
  }
}