#navbar-wrapper {
  a {
    color: $text-color;
  }

  .navbar {
    width: 100%;
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    left: 40px;

    a.back-to-home {
      color: $text-color;
      float: left;
      font-size: 150%;
      font-weight: 700;
    }

    a.open-nav {
      display: block;
      float: left;
      font-size: 150%;
      font-weight: 700;
      display: none;

      div {
        width: 35px;
        height: 5px;
        background-color: $text-color;
        margin: 6px 0;
      }
    }
  }

  #sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: $text-color;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
    text-align: left;
  }
  
  #sidenav a {
    font-size: 90%;
    padding: 8px 0 8px 12px;
    margin: 0 25px;
    text-decoration: none;
    color: $bg-color;
    display: block;
    transition: 0.5s;

    &:nth-child(2) {
      font-weight: 700;
      font-size: 120%;
      margin-bottom: 12px;
    }

    &:first-child, &:nth-child(2), &:last-child {
      border: none;
    }
  }
  
  #sidenav a:hover {
    font-weight: 700;
  }
  
  #sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
  }

  @media only screen and (max-width: 1060px) {
    .navbar {
      top: 10px;
      left: 0px;

      a.back-to-home {
        display: none;
      }
    
      a.open-nav {
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    p.title {
      font-size: 170%;
    }

    .title-wrap {
      display: block;
      margin-bottom: 20px;
      font-size: 70%;
    }

    .intro-text {
      padding: 5% 20px;

      .life-tag {
        display: none;
      }
    }
  }
}