#navbar-wrapper {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 30px 40px;

  a {
    color: $text-color;
  }

  .navbar {
    a {
      vertical-align: middle;
    }

    a.logo {
      text-align: center;
      display: none;
      max-height: 32px;

      img {
       height: 32px;
      }
    }

    a.back-to-home {
      color: $text-color;
      font-size: 150%;
      font-weight: 700;
      float: left;
    }

    a.open-nav {
      display: block;
      font-size: 150%;
      font-weight: 700;
      float: left;
      display: none;

      div {
        width: 30px;
        height: 4px;
        background-color: $text-color;
        margin: 5px 0;
      }
    }
  }

  #sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    background-color: $text-color;
    overflow-x: hidden;
    padding-top: 40px;
    transition: 0.5s;
    text-align: left;
  }
  
  #sidenav a {
    font-size: 90%;
    padding: 8px 0 8px 12px;
    margin: 0 25px;
    text-decoration: none;
    color: $bg-color;
    display: block;
    transition: 0.5s;

    &:nth-child(2) {
      font-weight: 700;
      font-size: 120%;
      margin-bottom: 12px;
    }

    &:first-child, &:nth-child(2), &:last-child {
      border: none;
    }
  }
  
  #sidenav a:hover {
    font-weight: 700;
  }
  
  #sidenav .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
  }

  @media only screen and (max-width: 1060px) {
    position: fixed;
    background-color: $bg-color;

    .navbar {
      a.logo {
        display: inline-block;
      }

      a.back-to-home {
        display: none;
      }
    
      a.open-nav {
        display: inline-block;
        cursor: pointer;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 15px;

    p.title {
      font-size: 170%;
    }

    .title-wrap {
      display: block;
      margin-bottom: 20px;
      font-size: 70%;
    }

    .intro-text {
      padding: 5% 20px;

      .life-tag {
        display: none;
      }
    }
  }
}