.timeline-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;

  .title-wrap {
    width: 100%;
    margin-bottom: 80px;

    .title {
      display: inline-block;
      font-size: 200%;
      font-weight: 700;
      border-bottom: 8px solid $text-color;
      padding: 10px 15px;
    }
  }
}