$nav-color: #999;

.timeline {
  min-height: 100vh;
  background-color: $bg-color;
  padding: 3% 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .scrolling-nav {
    font-size: 80%;
    position: fixed;
    left: 50px;
    top: 200px;
    text-align: left;

    a {
      color: $nav-color;
    }

    &:before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      transform: translateX(-50%);
      width: 2px;
      height: 90%;
      background-color: $nav-color;
    }

    ul li::before {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $nav-color;
      top: 0px;
      transform: translate(-50%, 50%);
      left: -30px;
    }

    ul li {
      clear: left;
      transform: translateX(30px);
      margin: 20px 0;
    }
  }

  a.backToHome {
    color: $text-color;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 80px;
    font-size: 150%;
    font-weight: 700;
  }

  .background-img {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 0;
  }
}