.timeline-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0;

  .title-wrap {
    width: 100%;
    margin-bottom: 80px;

    h2 {
      overflow: hidden;
      text-align: center;
    }
    
    h2:before,
    h2:after {
      background-color: $text-color;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 20%;
    }
    
    h2:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    h2:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 40px 0;

    .title-wrap {
      margin-bottom: 20px;
      font-size: 70%;
    }
  }
}