$nav-color: #999;

.timeline {
  min-height: 100vh;
  padding: 3% 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .scrolling-nav {
    font-size: 80%;
    position: fixed;
    left: 50px;
    top: 200px;
    text-align: left;

    a {
      color: $nav-color;
      cursor: pointer;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: $nav-color;
      margin: auto 0;
    }

    ul li::before {
      content: "";
      position: absolute;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: $nav-color;
      top: 0px;
      transform: translate(-50%, 15%);
      left: -30px;
    }

    ul li {
      clear: left;
      transform: translateX(30px);
      margin: 20px 0;
    }
  }

  .background-img {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 0;
  }

  @media only screen and (max-width: 1550px) {
    padding: 3% 20%;

    .scrolling-nav {
      display: none;
    }

    .background-img {
      display: none;
    }
  }

  @media only screen and (max-width: 1260px) {
    padding: 3% 15%;
  }

  @media only screen and (max-width: 1060px) {
    padding: 5% 5%;
  }

  @media only screen and (max-width: 768px) {
    padding-top: 35px;
  }

  @media only screen and (max-width: 480px) {
    font-size: 80%;
  }
}