body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 18px;
  margin: 0;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}