* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  font-size: 18px;
  margin: 0;
  color: $text-color;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}